<!DOCTYPE html>
<html>
<head>
    <label class="app_title">Streamie Media</label>
    <body>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="C:/Users/Kefron/Desktop/StreamieMedia/StreamieMedia/styles/loginstyle.css">
    <form action="action_page.php" method="post">
        <div class="container">
          <label for="uname" style="color: #ccc"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
          <label for="psw" style="color: #ccc;"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
           <button type="submit">Login</button>
          <label style="color: #ccc">
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      </form>
    </body>
</head>

</html>