*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root
{
    --crl: #000000;
}

body{
    position: relative;
    justify-content: center;
    background: var(--crl);  
}


form {
    
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: center;
 
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(95, 95, 95);
    box-sizing:border-box;
    background-color: #4e4e4e;
  }
  
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
 
  button:hover {
    opacity: 0.8;
  }
  

  .container {
    padding: 16px;
   
  }

  .app_title{
    font-size: 80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    margin-top: 250px;
  }